<div class="d-block mx-auto w-50">
    <label for="RollNumber">Roll Number</label>
    <input type="text" name="RollNumber" id="RollNumber" class="form-control" [(ngModel)]="Roll"
        placeholder="Ex:20471A05..">
    <div class="d-flex my-2">
        <input type="submit" value="Get all" class="btn btn-primary" (click)="Read('All')">
        <input type="submit" [value]="'Get '+ Roll" class="btn btn-primary mx-1" (click)="Read(Roll)">
    </div>
    <p *ngIf="!(Results.length!=0 && GotResult)" class="text-danger">No Result to Show</p>
</div>
<table class="table w-50  mx-auto" *ngIf="Results.length!=0 && GotResult">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Roll Number</th>
            <th scope="col">Name</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Data of Results">
            <th scope="row">{{Data[0]}}</th>
            <td>{{Data[1]}}</td>
            <td><input type="button" role="button" class="btn btn-danger" value="delete" (click)="Delete(Data[0])">
            </td>
        </tr>
    </tbody>
</table>
